- comments.each do |comment|
  .well.span8
    %em= comment.body
    %br
    %span.quiet by
    = link_to comment.author.username, "#"  # TODO: add link here
    %small at #{friendly_date(comment.created_at)}
