<p class="pull-right"><%= link_to "Edit this post", edit_post_path %></p>

<p>
  <span class="badge">Badge</span>
</p>

<p class="lead"><%= @post.title %></p>
<hr>

<p><%= @post.description %></p>
<hr>
