= render 'shared/content_title', title: "Post Categories"

- @categories.each do |category|
  .well.span8
    %p
      = category.name
      - if logged_in?
        %span.pull-right
          = link_to "edit", edit_category_path(category)
