.nav_item
  .dropdown
    %a.btn.btn-small.dropdown-toggle{data: {toggle: "dropdown"}}
      Categories
      %span.caret
    %ul.dropdown-menu
      - @categories.each do |category|
        %li
          = link_to category.name, category_path(category.id)
      %li.divider
      - if logged_in?
        %li
          = link_to new_category_path do
            %i.icon-plus
            New Category
      %li
        = link_to categories_path do
          %i.icon-th-list
          All Categories
